---
# yamllint disable rule:line-length
name: Build

# yamllint disable rule:truthy
on:
  release:
    types:
      - published

jobs:
  gem:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Install gettext-base
        uses: awalsh128/cache-apt-pkgs-action@v1.6.0
        with:
          packages: gettext-base
      - name: Build Package
        run: mise run build:deb
      - name: Test Package
        run: |
          sudo apt-get update
          sudo apt-get install ./deb-s3_*.deb
      - name: Upload Package
        uses: actions/upload-artifact@v6
        with:
          name: deb
          path: '*.deb'
          retention-days: 1
          if-no-files-found: error
          compression-level: 0
