---
# yamllint disable rule:line-length
name: Publish

# yamllint disable rule:truthy
on:
  workflow_run:
    workflows:
      - Build
    types:
      - completed

env:
  REPO_NAME: deb-s3

jobs:
  publish-gem:
    permissions:
      id-token: write
      contents: write
    environment:
      name: publish
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Bump Version
        run: |
          version="${GITHUB_REF_NAME}"
          echo "${version}"
          sed -i 's,VERSION = .*,VERSION = "'${version}'",' lib/deb/s3.rb
      - name: Publish Gem
        uses: rubygems/release-gem@v1
